// 변수
$wh:#fff;
$border-color:#ff7f50;
$font-color:#222;
$font-color2:#aaa;
$background-color:#eee;
$best-color:#ffe4c4;
$order:#000080;
$order_bar:#ff69b4;
// mixin
@mixin row-center {display:flex; flex-flow:row nowrap; align-items:center; justify-content:center;}
@mixin row {display:flex; flex-flow:row nowrap; justify-content:space-between;}
@mixin column-center {display:flex; flex-flow:column nowrap; align-items:center; justify-content:center;}
// 전체 width 1200px
// 주문 영역 width 380px
// 레이아웃 구분 배경색 적용하기
// container의 너비 값은 calc계산법 이용 380을 뺀 나머지 처리하기
//-------------------------------------------------------------------------------------------------------
main {
    width:1200px; margin:0 auto;
    @include row;
    .container {
        background:lightblue;
        width:calc(100% - 380px);
        text-align:center;
        .product_big {
            img {width:100%;}
        }
        > h2 {font-weight:600; margin:30px 0;}
        .container_box {
            @include row-center;
            img {width:100%;}
            
        }
    }
    aside {
        background:lightgoldenrodyellow;
        width:380px; height:100vh;
        position:sticky; top:0; padding:20px;
        a {img {}}
        > h1 {
            font-size:1.2rem;
            font-weight:600;
            padding:15px 0;
        }
        ul {
            li {
                @include row; align-items:center;
                padding:15px 0;
                h2 {}
                p {}
                .ori_price {
                    color:$font-color2;
                text-decoration:line-through;
                }
                .select {
                    border:1px solid $font-color2;
                    padding:10px 0 10px 10px;
                    width:195px;
                }
            }
        }
        .aside_btm {
            text-align:center;
            border-top:2px solid $font-color2;
            padding-top:20px; /* 선과 총 상품 금액 사이 공간 */
            .total {
                @include row;
                h2,
                p {
                    font-size:1.8rem;
                    color:$border-color;
                    span {
                        font-size:1.8rem;}
                }
            }
            #buy {
                background:$border-color;
                color:$wh;
                width:100%;
                padding:25px 0;
                text-transform:uppercase;
                margin:25px 0 15px;
            }
            .cart {
                @include row-center; justify-content:space-between;
                > button {
                    width:49%;
                    padding:15px 0;
                    border:1px solid $border-color;
                }
                #cart {color:$border-color; text-transform:uppercase;}
                #view {}
            }
            .review {
                border:1px dashed $font-color2;
                margin:15px 0;
                padding:20px;
                .txt {
                    @include row-center; justify-content:space-between;
                    p {
                        font-size:0.8rem;
                        color:$font-color2;
                    }
                    a {}
                }
                p {
                    font-size:1.15rem;
                    text-align:left;
                    margin:5px 0;
                    span {font-size:1.15rem; font-weight:600;}
                }
                .box {
                    content:''; display:inline-block;
                    width:100%; height:7px;
                    background:$background-color;
                    position:relative;
                    .bar {
                        content:''; display:inline-block;
                        width:70%; height:7px;
                        background:$order_bar;
                        position:absolute; top:0; left:0;
                    }
                }
            }
            .txt_btn {
                @include row-center; justify-content:space-between;
                p {}
                .review_view {
                    border:1px solid #000;
                    padding:5px 10px;
                }
            }
        }
    }
}