header {
    position:fixed; top:0; width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}
header a {}
header > a:first-child {
    position:fixed; bottom:30px; right:30px;
    padding:10px 15px; font-size:1.1rem;
    border:2px solid #fff;
    border-radius:10px; color:#fff;
}
header a:last-child {color:#fff;}
header h1 {text-align:left;}
header h1 a {}
header h1 a img {}

/* main */
main {}
main .wrap {}
main .wrap1 {}
main .wrap2 {}
main .wrap3 {}
main .wrap4 {}
main .wrap .bg1 {background-image:url(../images/main_bg_new2.jpg);}
main .wrap .bg2 {background-image:url(../images/main_con2_bg.jpg);}
main .wrap .bg3 {background-image:url(../images/main_con3_bg.jpg);}
main .wrap .bg4 {background-image:url(../images/main_con5_bg-.jpg);}
main .wrap .bg {
    height:100vh; width:100%;
    background-repeat:no-repeat; background-position:center;
    background-size:130%; background-attachment:fixed; transition:all 1s;
}
main .wrap .bg h1 {font-size:3rem; padding:100px 0 15px 100px;}
main .wrap .bg p {line-height:1.5; padding-left:100px;}
main .wrap .bg h1,
main .wrap .bg p {color:#fff;}
main .wrap .bg1 h1 {line-height:100vh; text-align:center; padding:0;}

/* footer */
footer {
    background:#000;
    display:flex; flex-flow:row nowrap; justify-content:space-around;
    align-items:center; padding:40px 0;
}
footer h1 {}
footer h1 img {}
footer p {color:#f1f1f1;}