main {
    border:1px solid lightgray;
    width:850px;
    margin:0 auto;
}
main .top {
    border-bottom:1px solid lightgray;
    height:100px;
}
main .top h1 {
    font-size:20px;
    float:left;
    line-height:100px;
    padding-left:25px;
}
main .top dl {}
main .top dl dd {
    font-size:14px;
    float:right;
    line-height:100px;
    padding-right:25px;
}
main .top dl dd span {}
main .top dl dd em {}
main section {
    /* 배경이미지 속성 */
    background-image:url(../images/bg.png);
    background-size:60%; /*w h*/
    background-repeat:no-repeat; /* 기본repeat */
    background-position:right 50px; /*x y*/
}
main section h2 {
    font-size:17px;
    color:steelblue;
    font-weight:800;
    padding:100px 25px 0;
}
main section p {
    padding:50px 25px 0;
    line-height:1.5;
    letter-spacing:-0.03em;
}
main section:last-child p:nth-child(5) {padding-bottom:100px;}
main section h2+p,
main section p em {
    font-size:30px;
}
main section p em {color:forestgreen;}