.container {
    width:1400px; margin:50px auto 50px;
    background:lightgoldenrodyellow;
    display:grid;
    grid-template-areas:
    'big s1 s2'
    '. s3 s4'
    '. s5 s6';
    grid-template-rows:repeat(3,300px);
    grid-template-columns:900px repeat(2,250px);
}
.container a {}
.container .big {grid-area:big; margin:0 20px 0 10px;}
.container .big img {width:100%;}
.container .big span {}
.container .small {padding-bottom:20px; margin-right:10px;}
.container .small:nth-child(1) {grid-area:s1;}
.container .small:nth-child(2) {grid-area:s2;}
.container .small:nth-child(3) {grid-area:s3;}
.container .small:nth-child(4) {grid-area:s4;}
.container .small:nth-child(5) {grid-area:s5;}
.container .small:nth-child(6) {grid-area:s6;}
.container .small img {width:100%;}
.container .small span {}